* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: Arial, sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #8d8d8d;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #a7a7a7;
}

::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration{
    display: none;
}

.nav-bar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-right: 30px;
    height: 70px;
    width: 100%;
    background-color: #C4170C;
    z-index: 999;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li {
    margin-right: 10px;
    list-style: none;
}

.nav-bar ul li:last-child {
    margin-right: 0;
}

.nav-bar ul li a img {
    height: 25px;
}

.form-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 20vw;
}

.section-pesquisar {
    display: flex;
    align-items: center;
    background-color: #A7140A;
    padding: 2px;
    width: 70%;
    overflow: hidden;
}

.section-pesquisar img {
    height: 20px;
    padding: 0 5px;
}

.section-pesquisar input[type="search"] {
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    outline: none;
}

.section-pesquisar input[type="search"]::placeholder {
    color: #fff;
    font-size: 15px;
}

.section-dark-theme {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.section-dark-theme label img{
    height: 30px;
    cursor: pointer;
}

#dark-theme-off {
    display: none;
}

.titulo-pagina {
    color: #fff;
    font-size: 40px;
    transition: .3s;
}

.titulo-pagina:hover {
    color: rgb(226, 226, 226);
}

.display-flex {
    display: flex;
    padding-top: 20px;
}

.content-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 50%;
    margin: 5px 20px;
	overflow: hidden;
    cursor: pointer;
}

.noticia-principal {
    position: relative;
    width: 100%;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #8A2BE2;
}

.principais-noticias-fita {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #A7140A;
    padding: 3px;
    font-size: 15px;
    font-weight: 600;
}

.noticia-principal:last-child {
    margin-bottom: 0;
}

.noticia-principal img{
    width: 100%;
    -webkit-transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
}

.noticia-principal:hover img{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.section-noticia-principal {
    position: absolute;
    width: 100%;
    padding: 50px 20px 20px 20px;
    bottom: 0;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), #000);
}

.titulo-noticia-principal {
    font-size: 35px;
    width: 80%;
    font-weight: 600;
}

.subtitulo-noticia-principal {
    display: block;
    font-size: 20px;
    margin-top: 20px;
}

.economia {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 135px;
    background-color: #C4170C;
    padding: 10px 0;
    margin-bottom: 10px;
    cursor: default;
}

.span-economia {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #460088;
    padding: 5px;
    font-size: 12px;
}

.economia section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 80%;
    margin: 0 auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.titulo-economia {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.valor-economia {
    font-size: 15px;
    margin-bottom: 5px;
}

.porcentagem-economia {
    font-size: 15px;
}

.hora-ultima-atualizacao {
    font-size: 11px;
    font-weight: 600;
    position: absolute;
    bottom: 2px;
    right: 5px;
}

.links-noticias {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.links-noticias div section section a {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 0 5px 10px;
    margin-right: 10px;
    height: 150px;
    overflow: hidden;
    background-color: #dadada;
    border-radius: 5px;
    transition: all 1s;
}

.links-noticias div section section a:hover {
    background-color: #bdbdbd;
    transition: all 1s;
}

.links-noticias a section{
    display: flex;
    justify-content: space-between;
    max-height: 150px;
}

.principais-noticias a img, .noticias-esporte a img, .noticias-tecnologia a img, .noticias-esports a img {
    width: 80px;
    height: 50px;
    margin-right: 5px;
}

.nav-escolher-noticias {
    position: relative;
    width: 100%;
    max-height: 50px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-escolher-noticias::-webkit-scrollbar {
    height: 8px;
}

.nav-escolher-noticias::-webkit-scrollbar-thumb{
    border-radius: 0;
}

.section-links-noticias-sobre {
    margin-right: 5px;
}

.links-noticias-sobre {
    display: flex;
    align-items: center;
    background-color: #C4170C;
    min-width: 150px;
    padding-left: 10px;
    height: 30px;
    cursor: pointer;
    text-transform: capitalize;
    transition: .3s;
}

.links-noticias-sobre:hover {
    background-color: #A7140A;
    transition: .3s;
}

.icones-links-noticias-sobre {
    height: 80%;
    margin-right: 5px;
}

.noticias section {
    margin-top: 5px;
}

.noticias section:last-child {
    margin-bottom: 20px;
}

.titulo-noticia {
    font-weight: 700;
    color: #C4170C;
}

.resumo-noticia {
    color: #5d0600;
    display: block;
    margin-top: 10px;
}

.data-publicacao {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #C4170C;
    background-color: #dadada;
    padding: 5px 5px 3px 0;
}

.bt-ver-mais-noticias-laterais {
    background-color: #C4170C;
    border: none;
    color: #fff;
    font-weight: 600;
    width: 97.5%;
    height: 30px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: .3s;
}

.bt-ver-mais-noticias-laterais:hover {
    background-color: #A7140A;
    transition: .3s;
}

.principais-noticias, .noticias-esporte, .noticias-tecnologia {
    margin-bottom: 40px;
    text-transform: capitalize;
}

.span-titulo-principais-noticias {
    background-color: #C4170C;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    font-weight: 700;
}

.span-titulo-esporte {
    background-color: green;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    font-weight: 700;
}

.span-titulo-tecnologia {
    background-color: blue;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    font-weight: 700;
}

.span-titulo-esports {
    background-color: orangered;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    font-weight: 700;
}

.container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 35em;
    cursor: pointer;
    margin-top: 70px;
}

.container .slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    float: left;
    animation: anima 20s linear infinite;
}
.container .slider .slide{
    position: relative;
    width: 20%;
    height: 100%;
    float: left ;
}
.container .slider .slide .caption{
    position: absolute;
    bottom: 0;
    padding: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), #000);
    border-bottom: 5px solid #C4170C;
    transition:0.5s;
}
.container .slider .slide .caption h2{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 48px;
    transition: 0.5s;
}
.container .slider .slide .caption p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    transition:0.5s;
}

.container .slider .slide.slide1 {
    background-color: #000;

}

.container .slider .slide.slide1 img{
    width: 100%;
    -webkit-transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
}

.container .slider .slide.slide1:hover img{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.container .slider .slide.slide2 img{
    width: 100%;
    -webkit-transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
}

.container .slider .slide.slide2:hover img{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.container .slider .slide.slide3 img{
    width: 100%;
    -webkit-transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
}

.container .slider .slide.slide3:hover img{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.container .slider .slide.slide4 img{
    width: 100%;
    -webkit-transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
}

.container .slider .slide.slide4:hover img{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

@keyframes anima{
    0%
    {
        left: 0;
    }
    20%
    {
        left: 0;
    }
    20%
    {
        left: 0;
    }
    25%
    {
        left: -100%;
    }
    45%
    {
        left: -100%;
    }
    50%
    {
        left: -200%;
    }
    70%
    {
        left: -200%;
    }
    75%
    {
        left: -300%;
    }
    95%
    {
        left: -300%;
    }
    100%
    {
        left: -400%;
    }
}

@media (min-width:1750px) {
    .off-1750px {
        display: none;
    }
}

@media (min-width:1400px) {
    .off-1400px {
        display: none;
    }
}

@media (min-width:1200px) {
    .off-1200px {
        display: none;
    }
}

@media (max-width:1000px) {

    .form-pesquisa input[type="search"]::placeholder {
        font-size: 13px;
    }

    .titulo-pagina {
        font-size: 25px;
    }

    .container{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 28em;
        cursor: pointer;
    }

    .section-noticia-principal {
        padding: 50px 10px 10px 10px;
    }
    .titulo-noticia-principal {
        font-size: 20px;
        width: 100%;
        font-weight: 700;
    }
    
    .subtitulo-noticia-principal {
        display: block;
        font-size: 14px;
        margin-top: 10px;
    }

    .economia section {
        margin: 0 5px;
    }

}

@media (min-width:1000px) {
    .off-1000px {
        display: none;
    }
}
@media (min-width:800px) {
    .off-800px {
        display: none;
    }
}

@media (max-width:700px) {

    .nav-bar {
        padding: 0 0 0 5px;
    }

    .titulo-pagina {
        font-size: 20px;
    }

    .form-pesquisa {
        width: 35vw;
    }

    .form-pesquisa img {
        height: 15px;
        padding-left: 5px;
    }

    .container{
        height: 20em;
    }

    .container .slider .slide .caption{
        bottom: 0;
    }
    .container .slider .slide .caption h2{
        margin: 0 0 10px;
        font-size: 25px;
    }

    .display-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .content-principal {
        width: 100%;
    }

    .noticia-principal {
        margin-bottom: 5px;
        border-radius: 0;
    }
    
    .noticia-principal:last-child {
        margin-bottom: 0;
    }

    .economia {
        margin-bottom: 0;
    }

    .noticias section {
        width: 95vw;
    }

    .off-mobile {
        display: none;
    }

    .bt-ver-mais-noticias-laterais {
        width: 100%;
    }

    .links-noticias {
        margin-top: 10px;
        width: 96%;
    }

    .links-noticias div section section a {
        height: 180px;
        margin-right: 0;
    }

    .links-noticias a section {
        max-width: 100%;
        max-height: initial;
    }
}

@media (max-width:500px) {
    
    .container{
        display: none;
    }  

    .principais-noticias-fita {
        display: none;
    }

    .content-principal {
        margin-top: 20px;
    }

    .nav-escolher-noticias {
        max-height: 35px;
    }
    
    .nav-escolher-noticias::-webkit-scrollbar {
        display: none;
    }
}
